.restaurant {
  color: #247ba0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.mapFrame {
  width: 100%;
  margin-top: 5%;
  border-radius: 12px;
  height: 250px;
}

.special {
  color: #3d8377;
  font-family: "Roboto", sans-serif;
}

.back {
  text-decoration: none;
  color: #247ba0;
  font-family: "Roboto", sans-serif;
}

.back:hover {
  color: #70c1b3;
}

.description {
  font-family: "Roboto", sans-serif;
  color: #3d8377;
}
