.indexText {
  font-family: "Roboto", sans-serif;
  color: #247ba0;
  margin-bottom: 5%;
}

.restaurantContainer {
  border: 1px solid lightblue;
  border-radius: 8px;
  padding: 10%;
  margin-bottom: 5%;

  .restaurant {
    color: #247ba0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
  }

  .restaurant:hover {
    color: #70c1b3;
  }

  .special {
    color: #3d8377;
    font-family: "Roboto", sans-serif;
  }
}
