.indexText {
  font-family: "Roboto", sans-serif;
  color: #1e607c;
  font-size: 1.25rem;
  margin-bottom: 5%;
}

.link {
  text-decoration: none;
}

.restaurantContainer {
  background: white;
  border-radius: 8px;
  padding: 4%;
  margin-bottom: 5%;

  .restaurant {
    color: #1e607c;
    font-family: "Roboto", sans-serif;

    .emoji {
      font-size: 1rem;
    }
  }

  .restaurant:hover {
    color: #70c1b3;
  }

  .special {
    color: black;
    font-family: "Roboto", sans-serif;
  }
}
