.header {
  margin-bottom: 1.45rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  background: #007bad;
  position: sticky;
  top: 0;

  .siteTitle {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
  }
}
